$white: #fff;
$background: #252B42;


$primaryFontsBlack: 'GraphikLCG-Black';
$primaryFontsBold: 'GraphikLCG-Bold';
$primaryFontsExtralight: 'GraphikLCG-Extralight';
$primaryFontsMedium: 'GraphikLCG-Medium';
$primaryFontsRegular: 'GraphikLCG-Regular';
$primaryFontsLight: 'GraphikLCG-Light';

$xs: 490px;