@font-face {
    font-family: GraphikLCG-Black;
    font-display: auto;
    src: local('GraphikLCG-Black'), url('../fonts/GraphikLCG-Black.woff2');
    font-style: normal;
}

@font-face {
    font-family: GraphikLCG-Bold;
    font-display: auto;
    src: local('GraphikLCG-Bold'), url('../fonts/GraphikLCG-Bold.woff2');
    font-style: normal;
}

@font-face {
    font-family: GraphikLCG-Extralight;
    font-display: auto;
    src: local('GraphikLCG-Extralight'), url('../fonts/GraphikLCG-Extralight.woff2');
    font-style: normal;
}

@font-face {
    font-family: GraphikLCG-Medium;
    font-display: auto;
    src: local('GraphikLCG-Medium'), url('../fonts/GraphikLCG-Medium.woff2');
    font-style: normal;
}

@font-face {
    font-family: GraphikLCG-Regular;
    font-display: auto;
    src: local('GraphikLCG-Regular'), url('../fonts/GraphikLCG-Regular.woff2');
    font-style: normal;
}

@font-face {
    font-family: GraphikLCG-Light;
    font-display: auto;
    src: local('GraphikLCG-Light'), url('../fonts/GraphikLCG-Light.woff2');
    font-style: normal;
}