@import './mixins.scss';
@import './constants.scss';
@import './fonts.scss';
@import './navbar.scss';
@import './home-section.scss';
@import './faetures.scss';
@import './organize.scss';
@import './newsletter.scss';
@import "./partners.scss";
@import "./testimonials.scss";
@import "./pricing.scss";
@import "./contacts.scss";
@import "./footer.scss";

* {
    margin: 0;
    padding: 0;
}

.container{
    margin: 0 auto;
    width: 80%;
    @media (max-width: $xs) {
        width: 100%;
    }
}