@import './mixins.scss';
@import './constants.scss';
@import './fonts.scss';
@import './navbar.scss';
@import './home-section.scss';
@import './faetures.scss';
@import './organize.scss';

* {
    margin: 0;
    padding: 0;
}

.container{
    margin: 0 auto;
    width: 75%;
}