@mixin text-h4 {
    font-size: 28px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.2px;
}

@mixin text-h3{
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.1px;
}

@mixin text-h2{
    font-size: 48px;
    line-height: 55px;
    letter-spacing: 0.2px;
}

@mixin flex-row {
    display: flex;
    flex-direction: row;
  }

@mixin flex-column {
    display: flex;
    flex-direction: column;    
}

@mixin btn {
    border-radius: 35px;
    background: #2091F9;
    font-size: 20px;
    padding: 16px 62px;
    border: none;
    color: $white;
    font-family: $primaryFontsLight;
    :focus {
        opacity: 0.5;
    }
}