@mixin text-h4 {
    font-size: 28px;
    line-height: 40px;
    letter-spacing: 0.2px;
}

@mixin text-h5 {
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.1px;
}

@mixin text-h3{
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.1px;
}

@mixin text-h2{
    font-size: 48px;
    line-height: 55px;
    letter-spacing: 0.2px;
}

@mixin flex-row {
    display: flex;
    flex-direction: row;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;    
}

@mixin btn {
    border-radius: 35px;
    background: #2091F9;
    font-size: 20px;
    border: none;
    color: $white;
    font-family: $primaryFontsLight;
    :focus {
        opacity: 0.5;
    }
}

@mixin text_substitution {
    @media (min-width: 300px){
        .min-w1000 {
            display: none;
        }
        .min-w300 {
            display: block;
        }
    }
    @media (min-width: 1000px) {
        .min-w1000 {
            display: block;
        }
        .min-w300 {
            display: none;
        }
    }
}

@mixin block_partners {
    @media (min-width: 300px){
        .minb-w1000 {
            display: none;
        }
        .minb-w300 {
            display: block;
        }
    }
    @media (min-width: 1000px) {
        .minb-w1000 {
            display: flex;
        }
        .minb-w300 {
            display: none;
        }
    }
}