.newsletter .container{
    width: 100% !important;
    .newsletter-content{
        display: flex;
        margin: 159px 0 52px;
        &__pictures{
            width: 60%;
            > img {
                width: 100%;
            }
            @media (max-width: $xs) {
                display: none;
            }
        }
        &__description{
            margin-left: 113px;
            width: 40%;
            @include text_substitution;
            .text_subs, .img_subs{
                    display: none;
                }
            @media (max-width: $xs) {
                margin: 0;
                width: 100%;
                text-align: center;
                .text_subs {
                    display: block;
                    @include text-h4;
                    font-family: $primaryFontsRegular;
                }
                .img_subs {
                    display: block;
                    width: 100%;
                    padding: 95px 0 117px;
                }
            }
            > h3{
                @include text-h3;
                font-family: $primaryFontsBold;
                margin-top: 75px; 
            }
            > h2{
                margin: 17px 0 35px;
                @include text-h2;
                font-family: $primaryFontsRegular;
            }
            &_text {
                margin-left: 10px;
                > p{
                margin-bottom: 36px;
                font-size: 18px;
                line-height: 25px;
                letter-spacing: 0.2px;
                font-family: $primaryFontsRegular;
                }
            }
            &_form {
                margin-left: 10px;
                display: flex;
                input{
                    width: 273px;
                    height: 54px;
                    background: #F4F4F4;
                    border: 1px solid #E8E8E8;
                    box-sizing: border-box;
                    border-radius: 39px;
                    padding: 18px 165px 18px 38px;
                    &:focus{
                        outline: none;
                    }
                    &::placeholder{
                        font-size: 14px;
                        line-height: 16px;
                        letter-spacing: 0.1px;
                        color: #18171D;
                    }
                }
                button{
                    @include btn;
                    width: 172px;
                    height: 58px;
                    margin-left: 12px;
                }
                @media (max-width: $xs) {
                    @include flex-column;
                    input{
                        width: 100%;
                    }
                    button{
                        width: 100%;
                        margin: 12px 0 114px;
                    }
                }
            }
        }
        @media (max-width: $xs) {
            @include flex-column;
        }
    }
}