.organize{
    padding: 293px 0 283px;
    &-content{
        display:flex;
        &__text_button{
            width: 50%;
            > h2 {
                @include text-h2;
                font-family: $primaryFontsLight;
            }
            > h4 {
                @include text-h4;
                font-family: $primaryFontsLight;
                margin: 27px 68px 70px 0;
            }
            > button{
                @include btn;
                width: 236px;
                height: 60px;
            }
        }
        &__pictures{
            width: 50%;
            > img {
                width: 100%;
            }
        }
    }
}