.partners{
    .partners-content{
        @include flex-column;
        &__title{
            text-align: center;
            h2 {
                padding-top: 130px;
                @include text-h2;
                font-family: $primaryFontsLight;
            }
            h4 {
                width: 40%;
                margin: auto;
                padding: 27px 0 90px;
                @include text-h4;
                font-family: $primaryFontsLight;
            }
        }
    }
}