.partners{
    .partners-content{
        @include flex-column;
        position: relative;
        &__title{
            text-align: center;
            h2 {
                padding-top: 130px;
                @include text-h2;
                font-family: $primaryFontsLight;
            }
            h4 {
                width: 40%;
                margin: auto;
                padding: 27px 0 90px;
                @include text-h4;
                font-family: $primaryFontsLight;
            }
        }
        &__blocks{
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
            width: 70%;
            margin: auto;
            &-block-google{
                border: 1px solid #D8D8D8;
                text-align: center;
                p {
                    padding: 31px 89.5px 15px;
                }
                img {
                    padding-bottom: 31px;
                }

            }
        }
    }
}