.contact_us
    .container
        .contact_us-content
            .contact_us-content__titls
                h2 Contact Us
                h4 Most calendars are designed for teams. Slate is designed for freelancers
            .contact_us-content__contacts
                .contact_us-content__contacts-send_form
                    h3 Contact Us
                    input.your-name(type="text" placeholder='Your Name')
                    input.your-email(type="text" placeholder='Your Email')
                    input.your-message(type="text" placeholder='Your Message')
                    button Send
                .contact_us-content__contacts-how_to_find
                    .contacts-items
                        .our-address 
                            img(src="../img/logo-map.png", alt="logo-map")
                            h5 6386 Spring St undefined Anchorage, Georgia 12473 United States
                        .phone 
                            img(src="../img/phone.png", alt="phone")
                            h5 (843) 555-0130
                        .mail 
                            img(src="../img/logo-mail.png", alt="mail")
                            h5 willie.jennings@example.com
                    .maps
                        img(src="../img/map-screen.png", alt="maps")
                    .social-links
                        a(href="https://twitter.com/")
                            img(src="../img/blue-twitter.png", alt="logo-twitt")
                        a(href="https://facebook.com/")
                            img(src="../img/blue-facebook.png", alt="logo-facebook")
                        a(href="https://www.linkedin.com/")
                            img(src="../img/blue-linkedin.png", alt="logo-linkedin")
