section.features 
    .container 
        .features-content
            h2 Features
            .features-content__text.min-w1000 Most calendars are designed for teams. Slate is designed for freelancers
            .features-content__text.min-w300 Most calendars are designed for teams.
        .features_block 
            .features_block-items
                .features_block-items__item
                    img(src="../img/mdi_drawing.png", alt="features_ico")
                    h3 OpenType features 
                        | Variable fonts
                    p Slate helps you see how many more days you need to work to reach your financial goal.
                .features_block-items__item
                    img(src="../img/mdi_draw.png", alt="features_ico")
                    h3 OpenType features 
                        | Variable fonts
                    p Slate helps you see how many more days you need to work to reach your financial goal.
                .features_block-items__item
                    img(src="../img/mdi_brush.png", alt="features_ico")
                    h3 OpenType features 
                        |Variable fonts
                    p Slate helps you see how many more days you need to work to reach your financial goal.
            .features_block-video
                .features_block-video__picture
                    img.min-w1000(src="../img/screen_video.png", alt="video")
                    img.min-w300(src="../img/screen_video_300.png", alt="video")
                button.btn 
                    img(src="../img/video_play.png", alt="play")

