section.features 
    .container 
        .features-content
            h2 Features
            .features-content__text Most calendars are designed for teams. Slate is designed for freelancers
        .features-items 
            .features-items__item
                img(src="../img/mdi_drawing.png", alt="features_ico")
                h3 OpenType features 
                    | Variable fonts
                p Slate helps you see how many more days you need to work to reach your financial goal.
            .features-items__item
                img(src="../img/mdi_draw.png", alt="features_ico")
                h3 OpenType features 
                    | Variable fonts
                p Slate helps you see how many more days you need to work to reach your financial goal.
            .features-items__item
                img(src="../img/mdi_brush.png", alt="features_ico")
                h3 OpenType features 
                    |Variable fonts
                p Slate helps you see how many more days you need to work to reach your financial goal.
        .features-video
            .features-video__picture
                img(src="../img/screen_video.png", alt="video")
            button.btn 
                img(src="../img/video_play.png", alt="play")

