.footer 
    .container 
        .footer__links 
            .footer__links-item 
                .footer__links-item-title Pages
                ul 
                    li Home
                    li Product
                    li Pricing
                    li About
                    li Contact
            .footer__links-item  
                .footer__links-item-title Tomothy 
                ul 
                    li Eleanor Edwards
                    li Ted Robertson
                    li Annette Russell
                    li Jennie Mckinney
                    li Gloria Richards
            .footer__links-item 
                .footer__links-item-title Jane Black
                ul 
                    li Philip Jones
                    li Product
                    li Colleen Russell
                    li Marvin Hawkins
                    li Bruce Simmmons
        .contact-block
            .contact-block__addressPhone 
                .address 
                    img(src="../img/marker-footer.png", alt="marker")
                    a(href="#") 7480 Mockingbird Hill undefined 
                .phone 
                    img(src="../img/phone-footer.png", alt="phone")
                    a(href="tel:+") (239) 555-0108
            .social-networks
                a(href="https://twitter.com/")
                    img(src="../img/logo-twitter.png", alt="logo-twitt")
                a(href="https://facebook.com/")
                    img(src="../img/logo-facebook.png", alt="logo-facebook")
                a(href="https://www.linkedin.com/")
                    img(src="../img/logo-linkedin.png", alt="logo-linkedin")
