section.home-section
    .container
        include ./navbar.pug
        .home-section__content
            h1 The best products start with Figma
            h4.min-w1000 Most calendars are designed for teams. Slate is designed for freelancers
            h4.min-w300 Most calendars are designed for teams.
            button Try For Free