nav.navbar
    .navbar-content
        .navbar-content__items
            a(href="#") Home
            a(href="#") Products
            a(href="#") Pricing
            a(href="#") About
            a(href="#") Contact 
        .navbar-content__logo
            img(src="../img/logo-figma-land.png", alt="logo")
    .navbar-social-links
        a(href="https://twitter.com/")
            img(src="../img/logo-twitter.png", alt="logo-twitt")
        a(href="https://facebook.com/")
            img(src="../img/logo-facebook.png", alt="logo-facebook")
        a(href="https://www.linkedin.com/")
            img(src="../img/logo-linkedin.png", alt="logo-linkedin")