section.newsletter
    .container
        .newsletter-content 
            .newsletter-content__pictures
                img(src="../img/newsletter.png", alt="newsletter")
            .newsletter-content__description
                h3 At your fingertips
                h2.min-w1000 Lightning fast prototyping 
                h2.min-w300 Newsletter 
                h4.text_subs Most calendars are designed for teams. Slate is designed for freelancers
                img.img_subs(src="../img/newsletter.png", alt="newsletter")
                .newsletter-content__description_text 
                    h3 Subscribe to our Newsletter
                    p Available exclusivery on Figmaland
                .newsletter-content__description_form 
                    input(type="text" placeholder="Your Email")
                    button Subscribe
        