section.newsletter
    .container
        .newsletter-content 
            .newsletter-content__pictures
                img(src="../img/newsletter.png", alt="newsletter")
            .newsletter-content__description
                h3 At your fingertips
                h2 Lightning fast prototyping 
                h3 Subscribe to our Newsletter
                p Available exclusivery on Figmaland
                .email-form Your Email
                button Subscribe
        