section.organize
    .container
        .organize-content
            .organize-content__text_button
                h2 Fastest way to organize
                h4 Most calendars are designed for teams. Slate is designed for freelancers
                button Try For Free
            .organize-content__pictures
                img(src="../img/macbook.png", alt="macbook")