mixin contentItem(name)
    .partners-content__block
        p Client Name
        img(src="../img/logo_" + name + ".png", alt="logo")

section.partners 
    .container 
        .partners-content 
            .partners-content__title 
                h2 Partners
                h4 Most calendars are designed for teams. Slate is designed for freelancers
            .partners-content__blocks 
                +contentItem('google')
                +contentItem('amazon')
                +contentItem('microsoft')
                +contentItem('uber')
                +contentItem('dropbox')
                +contentItem('google')
                +contentItem('uber')
                +contentItem('amazon')
            button Try For Free