section.partners 
    .container 
        .partners-content 
            .partners-content__title 
                h2 Partners
                h4 Most calendars are designed for teams. Slate is designed for freelancers
            .partners-content__blocks 
                .row1.minb-w300
                    .partners-content__blocks-google
                        .partners-content__blocks-text Client Name
                        img(src="../img/logo_google.png", alt="logo")
                    .partners-content__blocks-amazon
                        .partners-content__blocks-text Client Name
                        img(src="../img/logo_amazon.png", alt="logo")
                    .partners-content__blocks-microsoft
                        .partners-content__blocks-text Client Name
                        img(src="../img/logo_microsoft.png", alt="logo")
                .row1.minb-w1000
                    .partners-content__blocks-google
                        .partners-content__blocks-text Client Name
                        img(src="../img/logo_google.png", alt="logo")
                    .partners-content__blocks-amazon
                        .partners-content__blocks-text Client Name
                        img(src="../img/logo_amazon.png", alt="logo")
                    .partners-content__blocks-microsoft
                        .partners-content__blocks-text Client Name
                        img(src="../img/logo_microsoft.png", alt="logo")
                    .partners-content__blocks-uber
                        .partners-content__blocks-text Client Name
                        img(src="../img/logo_uber.png", alt="logo")
                .row2.minb-w1000
                    .partners-content__blocks-dropbox
                        .partners-content__blocks-text Client Name
                        img(src="../img/logo_dropbox.png", alt="logo")
                    .partners-content__blocks-google
                        .partners-content__blocks-text Client Name
                        img(src="../img/logo_google.png", alt="logo")
                    .partners-content__blocks-uber
                        .partners-content__blocks-text Client Name
                        img(src="../img/logo_uber.png", alt="logo")
                    .partners-content__blocks-amazon
                        .partners-content__blocks-text Client Name
                        img(src="../img/logo_amazon.png", alt="logo")
            button Try For Free