.testimonials 
    .container 
        .testimonials-content 
            h2 Testimonials 
            img(src="../img/logo_ibm.png", alt="ibm")
            h4 Most calendars are designed for teams. Slate is designed for freelancers who want a simple way to plan their schedule.
            .testimonials-content__item 
                img.min-w1000(src="../img/user_logo.png", alt="user")
                img.min-w300(src="../img/user_logo2.png", alt="user")
                .testimonials-content__item-title
                    h5 Organize across
                    a(href="#") Ui designer
            button More Testimonials